.columnLeft {
  justify-content: end;
  display: flex;
  align-items: center;
  background: transparent;
}

.columnLeft_content {
  background: #878e88;
  width: 100%;
  height: 80%;
  border-radius: 18px 0px 0px 18px;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
  align-items: center;
}

.columnLeft_contentImg {
  transform: rotate(-20deg);
  object-fit: contain;
  width: 255px;
}

.columnLeft_contentText {
  color: #191919;
  text-align: center;
  line-height: 18px !important;
}

.columnRight {
  background: white;
  border-radius: 18px;
  padding: 46px;
  overflow: auto;
}

.columnRight_form{
  display: flex;
  flex-direction: column !important;
  height: 100%;
  justify-content: space-around;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: grey !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid grey !important;
}

.css-953pxc-MuiInputBase-root-MuiInput-root::after{
  border-bottom: 2px solid grey !important;
}

.columnRight_transaction{
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
}

.columnRight_iconDeclined {
  animation: iconDeclined 0.8s ease-in-out;
  animation-fill-mode: forwards; 
  margin: 33px 0px
}

@keyframes iconDeclined {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes iconSuccesful {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}

.columnRight_iconSuccesful {
  animation: iconSuccesful 1s ease-in-out;
  animation-fill-mode: forwards; 
  margin: 33px 0px
}