.container {
  background: #191919;
  
}

.container_title {
  color: #fcfcfc;
  font-size: 50px !important;
  font-weight: 700 !important;
}

.container_subTitle {
  color: #ffd030;
  font-size: 50px !important;
  margin-top: -18px !important;
  font-weight: 700 !important;
}

.container_text {
  color: #a8a8a8;
  line-height: 17px !important;
  font-size: 15px !important;
  margin-top: 12px !important;
}

.container_button {
  margin: 15px 0px !important;
  margin-bottom: 25px !important;
  background-color: #ffd030 !important;
  color: #191919 !important;
  text-transform: capitalize !important;
  border-radius: 25px !important;
  width: 169px !important;
  font-weight: 700 !important;
  line-height: 18px !important;
}

.container_infoOne {
  color: #00a5b7;
  font-size: 30px !important;
  font-weight: 700 !important;
}

.container_infoTwo {
  color: #f45959;
  font-size: 30px !important;
  font-weight: 700 !important;
}

.container_infoText {
  color: #a8a8a8 !important;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(-5px) rotate(-30deg);
  }
  50% {
    transform: translateY(5px) rotate(-30deg);
  }
  100% {
    transform: translateY(-5px) rotate(-30deg);
  }
}

.img_nike {
  animation: floatUpDown 5s ease-in-out infinite;
  transform: rotate(-30deg);
  object-fit: contain;
  position: absolute;
  cursor: zoom-in;
}

.img_letter {
  font-weight: bold !important;
  font-family: Arial, sans-serif !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: #a8a8a8 !important;
  color: transparent !important;
}

.container_stars {
  width: 190px !important;
  margin-left: 160px;
}

.container_starsText {
  font-weight: bold !important;
}

.container_starsInfo {
  margin-top: 8px !important;
}

@keyframes increaseBorder {
  0% {
    border-width: 1px;
  }
  50% {
    border-width: 2px;
  }
  100% {
    border-width: 1px;
  }
}

.increasing-border {
  animation: increaseBorder 1s ease-in-out infinite;
}

