.header {
  background: #222626 !important;
  height: 70px;
  display: flex;
  align-items: center;

}

.header_text {
  font-family: "DM Serif Display", serif !important;
  font-style: italic;
  color: #ffd030 !important;
  font-size: 20px !important;
}
