/* Screen size from 0px to 599px */
@media only screen and (max-width: 599px) {
  .img_nike {
    width: 81vw;
    right: 9vw;
  }
  .container_info {
    text-align: center;
  }

  .container_button {
    margin: 25px 0px !important;
  }

  .columnLeft_content {
    border-radius: 18px !important;
  }

  .columnRight {
    padding: 28px !important;
    height: 100%;
  }
}

/* Screen size from 600px to 899px */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .img_nike {
    width: 47vw;
    right: 9vw;
  }
  .container_info {
    width: 276px !important;
    text-align: center;
  }
  .columnLeft_contentImg {
    width: 26vw !important;
  }

  .columnRight {
    padding: 38px !important;
  }
}

/* Screen size from 900px to 1199px */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .img_nike {
    width: 47vw;
    right: 9vw;
  }
  .container_info {
    width: 276px !important;
    text-align: center;
  }
}

/* Screen size from 1200px onwards */
@media only screen and (min-width: 1200px) {
  .img_nike {
    width: 559px;
    right: 97px;
  }
  .container_info {
    width: 276px !important;
    text-align: center;
  }
}
